{{ define "main" }}

<h2>About</h2>
<p>
  Are you interested in demos, graphics, programming, video games or something
  similar? If your answer is yes then you’re probably interested in DOT as well!
</p>
<p>
  DOT gathers people who are interested in digital media and the audiovisual
  possibilities in computers. We host events such as: saunas, demo nights,
  gaming nights, company visits, educational nights and hackathons! We share an
  interest in the demoscene and the gaming industry. We also organize
  <a href="https://graffathon.org">Graffathon</a> every year.
</p>
<h2>Members</h2>
<p>
  The majority of DOT members (around 100 at the moment) are studying at Aalto
  University, but some of us come from other universities in the Helsinki area
  or have already graduated.
</p>
<p>
  DOT ry is an organisation under the Aalto University Student Union (AYY). AYY
  is a student organisation with 15,000 members, including all students studying
  for a Bachelor's or Master's degree at Aalto University.
</p>
{{ end }}
